.nav {
  background-color: var(--light-gray-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: var(--dark-gray-color);
  opacity: 0.7;
}

.nav a:hover {
  opacity: 1;
}

.nav .active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--primary-color);
  opacity: 1;
}
.nav .active:hover {
  color: var(--primary-dark-color);
}
